

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
 
}

h1{
background-color: white;
text-align: center;
padding: 2rem;
border-radius: .5rem;
max-width: 300px;

}

.pras{

}

.aut{
  width: 10rem;
  height: 3rem;
  border-radius: .5%;

}

button{
  width: 8rem;
  height: 2rem;
  border-radius: 10%;
  margin-bottom: auto;
}









