
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: repeat;
  background: no-repeat;
  background-size: cover;
  padding: 2rem;

}


h1{
  background: fixed;
  color: white;
  text-align: center;
  padding: 2rem;

}

.pras{
  background-color: beige;
  text-align: center;
  border-radius: .5rem;
  max-width: 300px;
  box-shadow: 2px 2px 8px;
  margin: auto;
  padding: 2rem;
}

.aut{
  padding: 1.5rem;
  background-color: beige;
  text-align: center;
  border-radius: .5rem;
  max-width: 200px;
  box-shadow: 2px 2px 6px;
  margin: auto;
  
}


button{
  background-color: beige;
  text-align: center;
  border-radius: .5rem;
  max-width: 100px;
  box-shadow: 2px 2px 4px;
  padding: 1rem;
  margin: auto;
  padding: 1rem;

}